name: Build
on:
  push:
    branches:
      - '*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    container: devkitpro/devkitarm
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4     
    - name: Setup environment
      run: git config --global safe.directory '*'    
    - name: Build
      run: |
        make
        mkdir -p ~/artifacts
        cp pwalkerHax.3dsx ~/artifacts
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: build-artifact
        path: ~/artifacts